<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document Resume Developer</title>
</head>
<body>

    <h1>Currículo/Resume Dev Backend online</h1>

    <h2>Name and age/Nome e idade:</h2>
    <h3><%= resume.name %></h3>
    <h3><%= resume.age %></h3>

    <h2>Ability's/Habilidades: </h2>
    <h3><%= resume.ability %></h3>

    <h2>Experiences/experiências:</h2>
    <h3><%= resume.experience %></h3>

   <h2>My GitHub and Gmail/Meu GitHub e Gmail:</h2>

    <a href="<%= resume.linksG  %>" target="_blank">https://github.com/slowwshy</a>
    <h3><%= resume.Email %></h3>
    
 
   
</body>
</html>