<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document Resume Developer</title>
</head>
<body>

    <h1>Currículo/Resume Dev Backend online</h1>
<ul>
    <h2>Name and age/Nome e idade:</h2>
    <li><%= resume.name %></li>
    <li><%= resume.age %></li>

    <h2>Ability's/Habilidades: </h2>
    <li><%= resume.ability %></li>
    <li><%= resume.ability2 %></li>
    <li><%= resume.ability3 %></li>

    <h2>Experiences/experiências:</h2>
    <li><%= resume.experience %></li>
    
   <h2>My GitHub/Meu GitHub:</h2>

    <a href="<%= resume.linksG  %>" target="_blank">https://github.com/slowwshy</a>
    <li><%= resume.Email %></li>
    </ul>

<Ul>
 <details>
    <summary><H2>My contacts/Meus Contatos</H2></summary>
    <li>+55(61)99675-9175</li>
    <li><%= resume.Email %></li>
 </details>
 </Ul>

   
</body>
<script src="script.js" >

</script>
</html>