<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document Resume Developer</title>
</head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

    <link rel="stylesheet" href="/style.css">
<body>

    <h1>Currículo/Resume Dev Backend online</h1>
<ul>
    
    <h2>Name and age/Nome e idade:</h2>
    <h6><li><%= resume.name %></li></h6>   
    <h6><li><%= resume.age %></li></h6>

    <h2>Local/Localização:</h2>
    <h6><li><%= resume.local %></li></h6>

    <h2>Ability's/Habilidades:</h2>
    <h6><li><%= resume.ability %></li></h6>
    <h6><li><%= resume.ability2 %></li></h6>
    <h6><li><%= resume.ability3 %></li></h6>

    <h2>Experiences/experiências:</h2>
    <h6><li><%= resume.experience %></li></h6>

    <h2>Languages/linguagens:</h2>
    <h6><li><%= resume.language%></li></h6>
    
   <h2>My GitHub and linkedin/Meu GitHub e meu linkedin:</h2>
   <h6><a href="<%= resume.linkL %>" target="_blank"><li class="text-primary">https://www.linkedin.com/in/arthur-soares-1b285b389/</li></a></h6> 
   <h6><a href="<%= resume.linksG  %>" target="_blank"><li class="text-primary">https://github.com/slowwshy</li></a></h6>

 <details>
    <summary><H2>My contacts/Meus Contatos</H2></summary>
    <h6><li>+55(61)99675-9175</li></h6>
    <h6><li><%= resume.Email %></li></h6>
 </details>
</ul>



   
</body>
<script src="script.js" >

</script>
</html>